<% unless @criterias.blank? %>
<b>Your search criterias:</b>
<ul class="list-group">
  <% @criterias.each do |key, value| %>
  <li class="list-group-item"><%= key.gsub('_', ' ') %>: <%= value %></li>
  <% end %>
</ul>
<p>Your search returned <b><%= @mushrooms.count %> results</b></p>
<% end %>
