<h1>Mushrooms#index</h1>
<p>There are <%= Mushroom.count %> mushrooms in the database</p>
<p>There are <%= Mushroom.edible(false).count %> poisonous mushrooms in the database</p>
<p>There are <%= Mushroom.edible(true).count %> edible mushrooms in the database</p>
