@import "bootstrap";

.banner {
  color: white;
  position: relative;
}

.banner img {
  width: 100vw;
  height: 75vh;
  object-fit: cover;
}

.title {
  position: absolute;
  top: 2vh;
  left: 2vh;
  z-index: 1;
  font-size: 5vh;
}

.banner p {
  position: absolute;
  top: 8vh;
  left: 2vh;
  z-index: 1;
  font-size: 1.5vh;
}

.main {
  width: 100vw;
}

.filters {
  text-align: center;
}

th {
  font-size: 11px;
}

table {
  text-align: center;
}
.results {
  text-align: center;
}

.list-group-item {
  width: 40vh;
  margin: auto;
}

.select-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 5px;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
}

.select {
  display: flex;
  justify-content: space-between;
}

/*Pagination bar*/
.pagination_container {
  display: flex;
  justify-content: center;
}
.digg_pagination {
  background: white;
  cursor: default;
  width: 100vw;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 25em;
    margin-bottom: 0.3em;
    text-align: center;
    margin: auto; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
